/*
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Quicksand:wght@300;400;500;700&display=swap');
*/

@import url('https://fonts.borgcreative.com/fonts.css');



html {
  font-family: "Helevetica", sans-serif;
  width: 100%;
}

body {
  color: #333;
  font-weight: 100;

  margin: 0 auto;
}

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling 
  list-style-position:unset;
  list-style-type: none;
  list-style: none;*/
  text-align: right;
  /*
  padding: 0;
  margin: 0;
  */
}

#myUL li a {
  list-style-position:unset;
  text-align: left;
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}


div:focus {
  outline: none;
}

#heading {
  padding-top: 30px;
}

#content {
  padding-top: 10px;

}
#controlBar2{
    padding-top: 2mm;
    bottom: 0mm;
    left: 0mm;
    right: 0mm;
    position: fixed;
    height: 5mm;
    overflow: hidden;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.3s;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #cecece;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.3s;
  height: 30mm;
  overflow: scroll;
  width:70mm;
}

/* Links inside the dropdown */
.dropdown-content a {
  border-radius: 5mm;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.3s;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.3s;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.3s;
}

.qs_l {
  font-family: 'Quicksand', sans-serif;
  font-size: 18pt;
}
.qs_m {
  font-family: 'Quicksand', sans-serif;
  font-size: 12pt;
}
.qs_s {
  font-family: 'Quicksand', sans-serif;
  font-size: 8pt;
}

.os_l {
  font-family: 'Open Sans', sans-serif;
  font-size: 18pt;
}
.os_m {
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
}
.os_s {
  font-family: 'Open Sans', sans-serif;
  font-size: 8pt;
}


.mo_l {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 18pt;
}
.mo_m {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 12pt;
}
.mo_s {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 8pt;
}

.ru_l {
  font-family: 'Rubik', sans-serif;
  font-size: 18pt;
}
.ru_m {
  font-family: 'Rubik', sans-serif;
  font-size: 12pt;
}
.ru_s {
  font-family: 'Rubik', sans-serif;
  font-size: 8pt;
}

.ba_l {
  font-family: 'Barlow', sans-serif;
  font-size: 18pt;
}
.ba_m {
  font-family: 'Barlow', sans-serif;
  font-size: 12pt;
}
.ba_s {
  font-family: 'Barlow', sans-serif;
  font-size: 8pt;
}


.un_s {
  font-family: 'Radis Sans', sans-serif;
  font-size: 8pt;
}

.un_m {
  font-family: 'Radis Sans', sans-serif;
  font-size: 12pt;
}

.un_l {
  font-family: 'Radis Sans', sans-serif;
  font-size: 18pt;
}

.co_s {
  font-family: 'Cormorant SC' serif;
  font-size: 8pt;
}

.co_m {
  font-family: 'Cormorant SC', serif;
  font-size: 12pt;
}

.co_l {
  font-family: 'Cormorant SC', serif;
  font-size: 18pt;
}

.od_l{
  font-family: "OpenDyslexic Regular"; 
  font-size: 18pt;
}

.od_m{
  font-family: "OpenDyslexic Regular"; 
  font-size: 12pt;
}

.od_s{
  font-family: "OpenDyslexic Regular"; 
  font-size: 8pt;
}



.ng_l{
  font-family: "Nanum Gothic"; 
  font-size: 18pt;
}

.ng_m{
  font-family: "Nanum Gothic"; 
  font-size: 12pt;
}

.ng_s{
  font-family: "Nanum Gothic"; 
  font-size: 8pt;
}