/*
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Quicksand:wght@300;400;500;700&display=swap');
*/

@import url('https://fonts.borgcreative.com/fonts.css');

html {
  font-family: "Helevetica", sans-serif;
  width: 100%;
}

body {
  color: #333;
  font-weight: 100;

  margin: 0 auto;
}

div:focus {
  outline: none;
}

#heading {
  padding-top: 30px;
}

#content {
  padding-top: 10px;

}
#controlBar2{
    padding-top: 2mm;
    bottom: 0mm;
    left: 0mm;
    right: 0mm;
    position: fixed;
    height: 5mm;
    overflow: hidden;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.3s;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #cecece;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.3s;
  height: 30mm;
  overflow: scroll;
  width:70mm;
}

/* Links inside the dropdown */
.dropdown-content a {
  border-radius: 5mm;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.3s;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.3s;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.3s;
}

.qs_l {
  font-family: 'Quicksand', sans-serif;
  font-size: 8mm;
}
.qs_m {
  font-family: 'Quicksand', sans-serif;
  font-size: 5mm;
}
.qs_s {
  font-family: 'Quicksand', sans-serif;
  font-size: 3mm;
}

.os_l {
  font-family: 'Open Sans', sans-serif;
  font-size: 8mm;
}
.os_m {
  font-family: 'Open Sans', sans-serif;
  font-size: 5mm;
}
.os_s {
  font-family: 'Open Sans', sans-serif;
  font-size: 3mm;
}


.mo_l {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 8mm;
}
.mo_m {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 5mm;
}
.mo_s {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 3mm;
}